

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
  /* background-image: url("../images/trialgradient.jpg");
  background-position: 80%; */
    background-color: lightblue;
    /* background-size: cover; */
    /* background: linear-gradient(13deg, #ff5900 0%, #2b36da 100%); */
  }

  button.landing{

    width: 320px;
    height: 40px;

    font-size: 24px;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    border-radius: 120px;
    text-align: center;
    position: relative;
    transition: all .25s;
  }
  
  button.landing span{
    position: relative;
    border-radius: 120px;

  }

  button.landing:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-radius: 120px;
    width: 0;
    height: 100%;
    background: #5a25bb;
    transition: all .25s;
  }
  
  button.landing:hover{
    color: #fff;
    cursor: pointer;
    border-radius: 120px;
    transform: scale(1.1);
  }
  
  button.landing:hover:after{
    content: "Ready?";
    border-radius: 120px;
    width: 100%;
  }

  button.timeslot {
    max-width: 800px; /* Use max-width instead of width for relative sizing */
    width: 100%; /* Allow the button to take the full width of its container */
    height: auto; /* Use auto height to maintain aspect ratio */
    font-size: 36px;
    margin: 20px auto; /* Center the button horizontally and provide vertical margin */
    font-family: 'Space Grotesk', sans-serif;
    border: 3px solid #333;
    text-align: center;
    position: relative;
    border-radius: 120px;
    transition: all .15s;
  }

  button.timeslot:hover{
    color: #fff;
    cursor: pointer;
    transform: scale(1.1);
  }

  form.login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Style for input field */
  input[type="email"].login {
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for button */
  button.login {
    padding: 10px 20px;
    background-color: #2b36da;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Hover effect for button */
  button.login:hover {
    background-color: #1d2479;
  }

  Card.infoText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    color: deepskyblue;
    background-color: coral;
    font-family: 'Playfair Display', serif;
  }

