
div{
  font-family: 'Space Grotesk', sans-serif;
}


body {
  /* background-image: url("../images/trialgradient.jpg");
  background-position: 80%; */
    background-color: #F7F4EB;
    /* background-size: cover; */
    /* background: linear-gradient(13deg, #ff5900 0%, #2b36da 100%); */
  }

  button.landing{

    width: 340px;
    height: 40px;

    font-size: 24px;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    color: #213E60;
    border: 2px solid black;
    letter-spacing: 2px;
    border-radius: 120px;
    text-align: center;
    position: relative;
    transition: all .25s;
  }
  
  button.landing span{
    position: relative;
    border-radius: 120px;

  }

  button.landing:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-radius: 120px;
    width: 0;
    height: 100%;
    background: #213E60;
    transition: all .25s;
  }
  
  button.landing:hover{
    color: #F7F4EB;
    cursor: pointer;
    border-radius: 120px;
    transform: scale(1.1);
  }
  
  button.landing:hover:after{
    content: "Ready?";
    border-radius: 120px;
    width: 100%;
  }

  button.timeslot {
    width: 300px; /* Set a fixed width for all buttons */
    height: 100px; /* Set a fixed height for all buttons */
    font-size: 24px; /* Adjust the font size for the buttons */
    margin: 20px auto; /* Center the buttons horizontally and provide vertical margin */
    font-family: 'Space Grotesk', sans-serif;
    border: 3px solid black;
    text-align: center;
    border-radius: 20px; /* Adjust the border radius for the buttons */
    transition: all 0.15s;
  }
  
  button.timeslot:hover {
    color: #fff;
    cursor: pointer;
    transform: scale(1.1);
  }
  
  h1.timing {
    color: #213E60; /* Set the color for the h1 element */
    font-size: 36px; /* Adjust the font size for the h1 element */
    margin-top: 50px; /* Set top margin for the h1 element */
  }

  form.login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Style for input field */
  input[type="email"].login {
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for button */
  button.login {
    padding: 10px 20px;
    background-color: #213E60;
    color: #F7F4EB;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.20s;
  }
  
  /* Hover effect for button */
  button.login:hover {
    color: #8ECAE6;
    cursor: pointer;
    transform: scale(1.1);
  }


Button.activity{
  transition: all 0.15s;
}

Button.activity:hover {
  cursor: pointer;
  transform: scale(1.1);
}


